/* Dropdown content */

.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5px;
}

.dropdown button {
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: left;
    background-color: var(--gpSystemDarkGrey);
    color: #fff;
    font-size:small;
}

.dropdown button:hover {
    background-color: #fff;
    color: var(--gpSystemDarkGrey);
}

.separator {
    border-top: solid 1px var(--gpSystemLightGrey);
}

.show {
    display:block;
}

.status {
    width: 8%;
    display: inline-block;
}
