#nav-bar {
    display: flex;
    margin: 0.5rem 0 20px 1rem;
    gap: 15px;
    justify-content: left;
    font-weight: bold !important;
    text-transform: uppercase !important;
    color: #fff;
}

#arrow-box {
    display: flex;
    gap: 15px;
    margin-right: 15px;
    font-weight: bolder;
}

#arrow-box > i:last-child {
    opacity: 50%;
}
