/* Top nav bar css */
#top-nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 1rem;
}

ul {
    margin: 0 0 0 0;
    padding: 0;
    text-decoration: none;
    cursor: default;
    display: flex;
    align-items: center;
}

li {
    display: inline;
    margin-right: 20px;
    margin-top: 0.5rem;
    color: var(--text-secondary-color);
    text-align: center;
}

/* Left side of nav bar */

li > button > i {
    font-size: 14px;
    margin-right: 4px;
}

button{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: var(--text-secondary-color);
    border: none;
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-family: "Motiva Sans", Sans-serif;
}

button:hover {
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

/* Right side nav bar */

/* Button styles */

.button {
    border-radius: 6%;
    font-size: 12px;
    padding: 5px 16px 5px 16px;
    margin-right: 10px;
}

.button:hover {
    cursor: pointer;
    transition: 0.2s;
}

.button-blue {
    color: #fff;
    background-color: var(--gpColor-Blue);
}

.button-blue:hover {
    background-color: var(--gpColor-BlueHi);
}

.button-grey {
    background-color: var(--gpSystemDarkerGrey);
    color: var(--text-secondary-color)
}

.button-grey:hover {
    background-color: var(--gpSystemDarkGrey);
}

.button-window {
    color: var(--text-secondary-color);
    padding: 5px 10px ;
}

.button-window:hover {
    color: #fff;
    background-color: var(--gpSystemDarkGrey);
}

/* Profile button */

li#button-profile {
    background-color: var(--gpSystemDarkerGrey);
    display: inline-block;
    border-radius: 6%;
    margin-right: 10px;
}

li#button-profile:hover {
    background-color: #173d58;
    transition: 0.3s;
}

li#button-profile > button {
    color: #54a7e2;
    font-size: 12px;
    display: flex;
    align-items: center;
}

li#button-profile > button > img {
    height: 26.8px;
    border-right: 2px solid var(--gpColor-ChalkyBlue);
    margin: 0 5px 0 2px;
}

li#button-profile > button > span {
    margin-right: 5px;
}

li#button-profile > button > i {
    font-size: 10px;
}

/* Screen/Window buttons */

#screen-buttons {
    margin-right: 0;
    margin-top: 0;
    display: flex;
    height: 100%;
}

#screen-buttons > i {
    font-size: 14px;
    padding: 0 0 0 0;
    border-radius: 0;
    margin-right: 0;
    width: 34.8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen-buttons > i:hover {
    background-color: var(--gpSystemDarkGrey);
    color: #fff;
    cursor: pointer;
}

#screen-buttons > i:last-child:hover {
    background-color: var(--gpColor-Red);
}
